<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div>
            <body class="container">
                <!--navination bar-->
                <nav class="sidebar">
                    <div class="sidebae-header">
                        <div class="logo">
                            <i class="fas-fa-hospital-alt"></i>
                            <h2>HMS Admin</h2>
                        </div>
                    </div>
                    <ul class="nav-menu">
                        
                    </ul>
                </nav>
            </body>
        </div>
    </body>
</html>