<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div>
            <body class="container">
                <!--navination bar-->
                <nav class="sidebar">
                    <div class="sidebae-header">
                        <div class="logo">
                            <i class="fas-fa-hospital-alt"></i>
                            <h2>HMS Admin</h2>
                        </div>
                    </div>
                    <ul class="nav-menu">
                        <li class="nav-item active">
                            <a href="" class="nav-link">
                                <i class="fas fa-tachometer-alt"></i>
                                    <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa user-plus"></i>
                                    <span>Patient Registration</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-file-medical-alt"></i>
                                    <span>Electronic Health Record</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-calendar-alt"></i>
                                    <span>Doctor/Nurse Scheduling</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-receipt"></i>
                                    <span>Billing & Payment</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-flask"></i>
                                    <span>Laboratory & Diagnostic</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-pills"></i>
                                    <span>Pharmacy & Inventory</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-database"></i>
                                    <span>Centralized Database</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-chart-line"></i>
                                    <span>Reports & Analytics</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-user-cog"></i>
                                    <span>User Access & Security</span>
                            </a>
                        </li>
                    </ul>
                </nav>





                
            </body>
        </div>
    </body>
</html>