<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" contentwidth="device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
    </head>
    <style>

    </style>
    <body>
        <header class="sidebar-header">
            Logo
        </header>
        <div class="container">
            <aside class="sidebar">
                <div class="sidebar-profile">
                    <div class="sidebar-profile-circle"></div>
                </div>
                <a href="" class="sidebar-menu-item"> User Management</a>
                <a href="" class="sidebar-menu-item"> Patient Management</a>
                <a href="" class="sidebar-menu-item"> Doctor and Staff</a>
                <a href="" class="sidebar-menu-item"> Appointments</a>
                <a href="" class="sidebar-menu-item"> Departments</a>
                <a href="" class="sidebar-menu-item"> Billing and Payment</a>
                <a href="" class="sidebar-menu-item"> Pharmacy</a>
                <a href="" class="sidebar-menu-item"> Laboratory</a>
                <a href="" class="sidebar-menu-item"> Bed and Ward</a>
                <a href="" class="sidebar-menu-item"> Inventory and Supplies</a>
                <a href="" class="sidebar-menu-item"> Reports and Analytics</a>
                <a href="" class="sidebar-menu-item"> System Setting</a>
            </aside>

            <main class="main-content">
                <h1 class="dashboard-header"> ADMIN DASHBOARD</h1>
                <div class="dashboard-grid">

                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Total Patient</span>
                    </div>

                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Available Beds</span>
                    </div>

                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Today's Appointment</span>
                    </div>

                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Revenue Summary</span>
                    </div>
                    
                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Pending Bills</span>
                    </div>
                    
                    <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Inventory Alert</span>
                    </div>
                    
                     <div class="stat-card">
                        <div class="stat-card-icon"></div>
                        <span class="stat-card-text">Staff on Duty</span>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>